td.col-md-6 = link_to related_page.related.title, [:admin, related_page.related]
td.col-md-3 = t("activerecord.attributes.related_pages.type_of.#{related_page.type_of}")
td.col-md-3 = link_to admin_related_product_path(related_page, format: :json), method: :delete, title: 'удалить' do
  i.fa.fa-trash-o.fa-lg.text-warning
