[submodule "vendor/assets/stylesheets/font-awesome"]
	path = vendor/assets/stylesheets/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor/assets/javascripts/bootstrap-image-gallery"]
	path = vendor/assets/javascripts/bootstrap-image-gallery
	url = https://github.com/blueimp/Bootstrap-Image-Gallery.git
[submodule "vendor/assets/javascripts/javaScript-load-image"]
	path = vendor/assets/javascripts/javaScript-load-image
	url = https://github.com/blueimp/JavaScript-Load-Image.git
