@mixin rgba($colour, $alpha)
{
    $alphaColour: hsla(hue($colour), saturation($colour), lightness($colour), $alpha);
    $ieAlphaColour: argb($alphaColour);

    background-color: $colour; // Fallback for older browsers

    // IE hacks
    zoom: 1; // hasLayout
    background-color: transparent\9;
    -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=${ieAlphaColour}, endColorstr=${ieAlphaColour})"; // IE 8+
        filter: #{"progid:DXImageTransform.Microsoft.gradient(startColorstr=${ieAlphaColour}, endColorstr=${ieAlphaColour})"}; // IE 6 & 7

    background-color: $alphaColour;
}

#catalog-items {
	h3 {
		span {
			cursor: pointer;
			position: relative;
			@include rgba(#624199, 0.5);
		}
		a:hover span {
			@include rgba(#624199, 0.7);
		}
		a:hover {
			text-decoration: none;
		}
	}
}

#site-header {
  padding-bottom: 20px !important;
  h1 { margin-bottom: 0; }
}