@media (max-width: $screen-md-max) {
  #main-menu {
    position: relative;
    margin-bottom: -40px;
  }
  #site-header {
    .naming .logo {
      margin: 0 auto;
    }
    h1 {
      #gradient {
        @include gradient-directional(fade-out(white, 0.7), fade-out(white, 1), 180deg);
      }
    }
  }
  #site-header:not(.jumbotron) .contacts .actions .popover.visible {
    left: 18px !important;
  }
  #category-content .subnav.affix {
    position: static;
    top: 0;
    margin-bottom: 20px;
  }
  .landing-nav.subnav.affix {
    position: static;
    top: 0;
    background: transparent !important;
    box-shadow: none !important;
    .nav {
      padding: 0 !important;
    }
  }
  .landing-nav.subnav {
    padding-left: 10px;
  }
  .landing-container {
    padding-left: 10px;
  }
  .thankyou-message {
    padding: 0 !important;
    width: auto !important;
    background: none !important;
  }
}

@media (max-width: $screen-sm-max) {
  #site-header:not(.jumbotron) .contacts .actions .popover.visible {
    left: 84px !important;
  }
  .products-list {
    .product {
      margin-bottom: 15px;
      padding-bottom: 10px;
    }
    .show-options {
      margin-bottom: 0;
      .nav {
          &.nav-pills > li {
            float: none;
          }
          &.nav-pills > li, .btn {
            display: block;
            margin-bottom: 10px;
            width: 203px;
          }
        }
        .product {
          margin-top: 20px;
        }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #site-header.jumbotron {
    h1 { font-size: $font-size-base * 3 !important; }
  }
  .form-search {
    input.search-query {
      font-size: $font-size-base * 1.3 !important;
    }
  }
  #site-header:not(.jumbotron) .contacts .actions .popover.bottom.visible {
    .arrow { display: none; }
    display: none;
    left: 32% !important;
  }
  .nav-pills > li {
    float: none;
  }
  .selected-filters {
    .nav-pills > li { float: left; }
    .pull-right { float: left !important; }
  }
  #main-menu {
    .navbar-brand, .navbar-collapse {
      padding-left: 30px;
    }
  }

  #whole-catalog {
    display: none;
    ~ hr {
      display: none;
    }
  }

  .product-filters {
    display: none;
    &.active {
      display: block;
    }
    @include transition(all 0.25s ease-out);
  }

  #product-container {
    .btns {
      text-align: left !important;
    }
    .share.pull-right, .bages.pull-left {
      float: none !important;
    }
    .gallery .gallery-links .first-image a {
      &.flagged {
        margin-top: 60px;
      }
      .stickers {
        position: relative;
        top: -50px;
      }
    }
    .quick-shop.btn {
      margin-bottom: 15px;
    }
    .description {
      overflow: scroll;
    }
  }
  .footer .row > div {
    margin-bottom: 10px;
  }
  .offer-item {
    display: block !important;
  }
  .offer-number {
    float: none !important;
  }
}

@media screen and (orientation: landscape), screen and (max-height: 400px) {
  .phone-call {
    display: none !important;
  }
}

@media (max-width: $screen-xxs-max) {
  #site-header:not(.jumbotron) .contacts .actions .popover.bottom.visible {
    left: 22% !important;
  }
  .nav-tabs > li {
    float:none;
  }
}
