.nav-stacked-simple {
  list-style: none;
  margin: 0;
}
.sup {
  top: -5px;
  position: relative;
}
.striped {
  background-size: 60px 60px;
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}
/* Animation */
/* Background Size */
/* Border Radius */
/* Box Shadows */
/* Box Sizing */
/* Columns */
/* Gradients */
/* Opacity */
/* Text Shadow */
/* Transforms */
/* Transitions */
.container-wide {
  max-width: 1170px;
  margin: 0 auto;
}
#site-header {
  margin-bottom: 20px;
  padding: 60px 0 10px;
  background-color: #f8f3e9;
}
#site-header h1 {
  font-size: 28px;
}
#site-header h1 small {
  font-size: 21px;
}
#site-header .contacts .actions {
  padding-top: 5px;
}
#category-content .subnav {
  background: rgba(238, 255, 212, 0.9);
  box-shadow: 0 2px 10px rgba(229, 229, 229, 0.95);
  width: 100%;
}
#category-content .subnav .nav li > a {
  border-radius: 0;
  margin: 0 5px;
  padding-right: 5px;
  color: #7c58b8;
}
#category-content .subnav .nav li > a i {
  padding-right: 5px;
  color: #e7639b;
}
#category-content .subnav .nav li > a:hover {
  background: none;
}
#category-content .subnav .nav li > a:hover i {
  text-decoration: none;
  color: #7c58b8;
}
#category-content .subnav.affix {
  top: 40px;
  left: 0;
  margin: 0;
  z-index: 99;
}
#category-content .subnav.affix .nav {
  max-width: 1170px;
  margin: 0 auto;
  border: none;
}
#category-content .products-list .row-fluid {
  padding-bottom: 10px;
  margin-bottom: 30px;
}
#category-content .products-list .caption {
  padding-left: 5px;
}
#category-content h3 {
  font-size: 18.2px;
  line-height: 19.599999999999998px;
}
#category-content p {
  margin-bottom: 10px;
}
#category-content .price .label {
  padding: 0;
  vertical-align: middle;
  background: none;
  font-size: 23.8px;
  color: #dc2271;
  text-shadow: none;
  font-weight: normal;
}
#category-content .price .btn.disabled {
  opacity: 1;
  background: none;
}
#category-content .product-filters .accordion {
  -webkit-box-shadow: 1px 1px 3px 0 rgba(98, 75, 33, 0.4);
  -moz-box-shadow: 1px 1px 3px 0 rgba(98, 75, 33, 0.4);
  box-shadow: 1px 1px 3px 0 rgba(98, 75, 33, 0.4);
  background: #f8f3e9;
}
#category-content .product-filters .accordion hr {
  margin: 0;
}
#category-content .product-filters .accordion ul {
  list-style: none;
  margin: 0;
}
#category-content .product-filters .accordion ul a {
  color: #555555;
}
#category-content .product-filters .accordion ul .active a {
  color: #dc2271;
}
#category-content .product-filters .accordion-group {
  border: none;
  margin-bottom: 0;
}
#category-content .product-filters .accordion-heading a {
  color: #7c58b8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
#category-content .product-filters .accordion-body {
  background: #ffffff;
}
