#catalog-items h3 span {
  cursor: pointer;
  position: relative;
  background-color: #624199;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8063429a, endColorstr=#8063429a)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8063429a, endColorstr=#8063429a);
  background-color: rgba(99, 66, 154, 0.5);
}
#catalog-items h3 a:hover span {
  background-color: #624199;
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b363429a, endColorstr=#b363429a)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b363429a, endColorstr=#b363429a);
  background-color: rgba(99, 66, 154, 0.7);
}
#catalog-items h3 a:hover {
  text-decoration: none;
}
#site-header {
  padding-bottom: 20px !important;
}
#site-header h1 {
  margin-bottom: 0;
}
