h2 Спасибо!
.alert.alert-success
  p.lead
    ' Номер вашего заказа
    strong = order.number

  markdown:
    Нам очень важно чтобы Вы остались довольны покупкой!

    Ваш заказ уже в обработке. В рабочее время (*с 9:00 до 21:00*) мы свяжемся
    с Вами в течение **30 минут**.

    Если прошло уже много времени, а мы все еще не позвонили &mdash; возможно
    произошла техническая накладка.
    Просто позвоните нам и мы примем заказ по телефону.
