.panel.panel-success
  .panel-heading
    h2.panel-title Спасибо!
  .panel-body
      p
        big> Номер вашего заказа
        strong: mark = order.number
      markdown:
        Нам очень важно чтобы Вы остались довольны покупкой!

        Ваш заказ уже в обработке. В рабочее время (*с 9:00 до 21:00*) мы свяжемся
        с Вами в течение **30 минут**.
  .panel-footer
    markdown:
      Если прошло уже много времени, а мы все еще не позвонили &mdash; возможно
      произошла техническая накладка.
      Просто позвоните нам и мы примем заказ по телефону.
