= render layout: 'static_page', locals: { title: 'О нас' } do
  markdown:
    Добро пожаловать в мир детских улыбок - интернет-магазин **Babysmile**!

    В нашем магазине вы найдете лучшие товары от ведущих мировых производителей: детские коляски и автокресла, детскую мебель, игрушки, все для ухода за вашим ребенком, а также товары для мам и многое другое.

    Мы работаем уже более 5-ти лет и можем вам предложить не только высококачественные товары, но и надежную репутацию, выгодные условия покупки, упрощенную процедуру оформления заказа, быструю доставку и честность.

    Мы всегда ждем ваших предложений и будем стараться, чтобы вам было выгодно и интересно сотрудничать с нами
