= render layout: 'static_page', locals: { title: 'О нас' } do

  markdown:
    Babysmile – лучший друг детей, находка для родителей!
    ------------------

    С появлением в семье малыша родителям очень важно иметь все необходимое под рукой и в самые короткие сроки. Интернет-магазин детских товаров BabySmile станет настоящим спасением для мам и пап, у которых не всегда бывает возможность потратить день на поиски нужного в магазинах розничной продажи; и для приобретения подарка для знакомых детей всегда можно найти что-то оригинальное!
    Интернет-магазин BabySmile постоянно в центре динамичного рынка детских товаров: в нашем ассортименте помимо классической продукции всегда присутствуют самые последние новинки развивающих игр, комплексов, косметических средств, предметов интерьера и т.д.

    Наша компания надежно закрепилась на рынке детской продукции с 2007 года. Многолетний опыт работы с различными категориями товаров позволяет утверждать, что мы разбираемся во всем, что касается отличного настроения малышей и их родителей. Участие в благотворительных фестивалях и акциях помощи детям, лишенных даже маленьких радостей жизни, многому нас научило: самое ценное в мире – это детские улыбки и счастливые глаза малышей.

    ###Что заказать?

    Каталог нашего магазина разбит на несколько категорий, в них можно найти практически все:
    игрушки и игровые наборы для детей любого возраста;
    товары для детского здоровья и безопасности: кроватки и манежи, автокресла, косметика для малышей, игровые комплексы и т.д.;
    товары для развивающих занятий: удобная мебель, игрушки для детского творчества и развития умений и навыков;
    детская одежда и обувь: для повседневного ношения и для особенных, торжественных случаев;
    товары для новорожденных и их мам;
    интерьерные товары детской комнаты: шкафы, комоды, пеленальные столики, стульчики для кормления и т.д.;
    и многое-многое другое.
    Все представленные в магазине товары соответствуют стандартам качества и имеют подтверждающие это сертификаты.

    ###Как заказать?
    Для оформления заказа достаточно поместить выбранный товар в корзину или позвонить по одному из указанных телефонов - квалифицированные менеджеры проконсультируют Вас по возникшим вопросам и помогут сделать оптимальный выбор, который порадует и Вас, и Вашего малыша.

    Наш магазин постоянно проводит акции, распродажи и предлагает скидки на самые популярные товары или целые товарные категории: постоянным клиентом быть не только удобно, но и выгодно. Многие вопросы решаются в индивидуальном порядке с исключительной пользой для покупателя.

    Интернет-магазин детских товаров BabySmile, заботясь об удобстве для своих клиентов, предоставляет широкий выбор вариантов оплаты: наличный или безналичный расчет, банковские переводы и различные платежные системы.

    ###Как получить?
    Наши складские помещения расположены в Днепропетровске, поэтому для жителей этого города доставка любых товаров (в том числе и крупногабаритных) осуществляется наиболее оперативно. Для других регионов Украины предлагается доставка почтой или транспортными компаниями в максимально сжатые сроки. Товары от BabySmile – это только лучшие производители, отменное качество и гарантии!

    Присоединяйтесь к числу наших постоянных клиентов: хлопоты по приобретению всего необходимого будут сведены к минимуму, а жизнь Вашего малыша станет интереснее и насыщеннее!

    Наша команда
    -------------------
  .row
    .col-sm-4
        p = image_tag 'staff/savenko-marina.jpg'
        strong Марина Савенко
        br
        em.text-muted менеджер по продажам
        br
        .text-info
            i.fa.fa-envelope-o>
            a href="mailto:marina@bbsmile.com.ua" marina@bbsmile.com.ua
    .col-sm-4
        p = image_tag 'staff/kokstova-larisa.jpg'
        strong Лариса Кокстова
        br
        em.text-muted контент-менеджер
        br
        .text-info
            i.fa.fa-envelope-o>
            a href="mailto:larisa@bbsmile.com.ua" larisa@bbsmile.com.ua
    .col-sm-4
        p = image_tag 'staff/znak-sofia.jpg'
        strong София Знак
        br
        em.text-muted контент-менеджер
        br
        .text-info
            i.fa.fa-envelope-o>
            a href="mailto:sofia@bbsmile.com.ua" sofia@bbsmile.com.ua

  markdown:
    Страницы истории и современные перспективы
    ----------------
    Интернет-магазин Babysmile начал свою работу 7 лет назад. Нашей целью было открыть
    магазин детских товаров, и не просто очередной маркет, а
    доброжелательный, интересный, современный. Мы много работали над ассортиментом
    товаров, учитывая потребности детишек и их родителей, над разработкой сайта, над
    ценовой политикой, постоянно проводя акции, распродажи и снижая цену на целые
    группы товаров.

    Кроме того, наш магазин регулярно участвует в благотворительных
    акциях, помогая детям, лишенных многих радостей в жизни. Мы сотрудничаем с
    организаторами благотворительного фестиваля «Мама+я».

  .gallery-links
    - { 'certificates/2012.jpg' => 'Диплом "Мама + Я" 2012 год', 'certificates/2013.jpg' => 'Диплом "Мама + Я" 2013 год' }.each do |image_src, image_alt|
      a href="#{image_url image_src}" title="#{image_alt}" data-gallery="#certificates-gallery"
        = image_tag image_src, alt: image_alt, width: 150

  - content_for :modals do
    #certificates-gallery.blueimp-gallery
      .slides
      .modal.fade tabindex="-1"
        .modal-dialog: .modal-content
          .modal-header
            a.close data-dismiss="modal" &times;
            h4.modal-title
          .modal-body.next
          .modal-footer
            button.btn.btn-default.prev type="button" disabled="disabled"
              i.fa.fa-arrow-left.fa.fa-white
              | &nbsp;&nbsp;Назад
            button.btn.btn-info.next type="button"
              | Вперед&nbsp;&nbsp;
              i.fa.fa-arrow-right.fa.fa-white

  markdown:
    Система работы магазина Babysmile
    ---------------

    Наш склад находится в Днепропетровске, поэтому для жителей этого города мы
    предоставляем самую оперативную доставку крупногабаритных товаров. Для тех наших клиентов, которые находятся в других
    областях Украины, мы предлагаем пересылку выбранного товара любым удобным
    способом, широкий выбор транспортных компаний, быстроту оформления заказа и,
    конечно же, различные акции и скидки.

    Ассортимент товаров на сайте
    -----------------

    В нашем магазине можно купить все необходимое для ухода за ребенком. Разнообразные
    коляски и кроватки, другая детская мебель от лучших производителей, игрушки и одежда,
    обувь для малышей и старших ребят, аксессуары, гигиенические принадлежности,
    косметика и т.п. Полезная бытовая электроника (радионяни, видеоняни и многое другое),
    детский транспорт, товары для детского творчества, сезонные товары (песочницы,
    санки, горки и другое), и даже уличные игровые комплексы – все это вы можете
    выбрать в нашем каталоге. Мы сотрудничаем только с лучшими производителями или
    поставщиками, мы проверяем каждый товар, предоставляем все необходимые документы
    и гарантию. Жизнь вашего малыша станет еще радостнее и насыщеннее, а ваши хлопоты
    по выбору и покупке необходимых вещей буду сведены к минимуму, если вы станете
    клиентов магазина Babysmile. Мы уверены, что вам у нас понравится!
