= render layout: 'static_page', locals: { title: 'Акции и скидки' } do
  markdown:
    Суперакционные предложения на детскую мебель!
    ---------------------

    При покупке кроватки ТМ [Верес](/detskie-krovatki?brands[]=Верес) или ТМ [Gandylyan](/detskie-krovatki?brands[]=Gandylyan) вы гарантировано получаете **в подарок** [набор одежды для новорожденных](/nabor-dlya-novorozhdennyih-12257) от турецкого производителя ТМ *Babexi*.
    Акция действует до *16 октября 2013 года* или до окончания акционного товара.

    При покупке мебельного дуэта кроватки и комода ТМ [Верес](/duetyi-krovat-komod?brands[]=Верес), Вы получаете **скидку до 10%** и бесплатную доставку по всей Украине.
    Акция действует до *16 октября 2013 года*
