- title 'Условия доставки и оплаты от магазина детских товаров Babysmile ☎(096) 717-22-55'
= metamagic description: "Интернет-магазин детских товаров Babysmile организует доставку товаров для детей во все города Украины в любое удобное время. Все формы оплаты за детские товары. ☎(096) 717-22-55"

= render layout: 'static_page', locals: { title: 'Доставка и оплата' } do
  markdown:
    <a name="delivery"></a>
    ## Мы доставляем товары по всей Украине

    Заказанный в нашем Онлайн-супермаркете товар доставляется курьерскими службами Новая Почта, Интайм, Деливери  или любой другой службой удобной для Вас.

    * Вы можете забрать свой заказ в отделении курьерской службы Вашего города согласованном при заказе.
    * Вы можете получить заказ домой (адресная доставка)
    * Также есть возможность забрать товар в  г. Киев, ст. м. Левобережная.

    <sup>*</sup> *наличие товара на складе уточняйте у менеджера.*

    Заказы, согласованные до 13-00, будут отправлены в этот же день. Доставка обычно занимает 1-2 рабочих дня.
    Также возможна срочная доставка на текущий день по Киеву.

    <div class="alert alert-warning">
        <strong>ВАЖНО!</strong> Обращаем Ваше внимание, что при получении в офисе курьерской службы обязательно нужно проверить целостность упаковки, а при необходимости и целостность товара.
    </div>

    Для получения необходим документ удостоверяющий личность: паспорт или водительское удостоверение.

    **Есть вопросы?** Вы всегда можете позвонить нам по телефонам:

    * (096) 717-22-55 
    * (066) 717-37-07
    * (093) 717-91-91


    ## Режим работы интернет-магазина Babysmile

    Прием заказов по телефону – каждый день с 9:00 – 19:00.

    Прием заказов на сайте и по электронной почте – круглосуточно

    ## Оплата заказа

    * наличными курьеру (адресная доставка)
    * оплата на карту КБ "ПриватБанк" + 0,5% к стоимости заказа
    * оплата при получении (наложенный платеж) – 20 грн + 2% от стоимости товара
