= render layout: 'static_page', locals: { title: 'Доставка и оплата' } do
  markdown:
    ## Заказ товара

    Заказать понравившийся вам товар можно любым удобным способом:

    1. Связаться с менеджером по контактному телефону
    2. Оформить самостоятельно заказ на сайте
    3. Выслать заказ на электронную почту нашего интернет-магазина

    ## Оплата товара

    Оплатить товар можно:

    1. Наличными курьеру нашего магазина (только для жителей Днепропетровска)
    2. Предоплата на расчетный счет. После оформления заказа на указанный вами электронный адрес высылается счет к оплате со всеми реквизитами магазина
    3. Оплата на карту КБ "Приватбанк"
    4. Оплата при получении заказа в транспортной компании (наложенный платеж)

    <div class="alert">
      <strong>Внимание!</strong> Уточняйте наличие товаров перед осуществлением предоплаты
    </div>

    ## Доставка для жителей Днепропетровска

    Возможны варианты:

    1. Самовывоз заказанного товара с ТРЦ Караван ул. Нижнеднепровская, 17 по предварительной договоренности
    2. Курьером по городу. Cтоимость доставки **30 грн.** при покупке на сумму до **2000 грн.** и бесплатная доставка при заказе свыше **2000 грн.** Доставка осуществляется в течение 1-3 рабочих дней.

    <div class="alert">
      <strong>Внимание!</strong> Занос крупногабаритного товара на этаж в подъездах, не оборудованных лифтом – услуга платная (тариф <strong>10 грн.</strong> за этаж)
    </div>

    ## Доставка по Украине

    Доставка товаров по регионам Украины осуществляется транспортными компаниями: ["Новая почта"](http://novaposhta.ua/), ["Укрпочта"](http://ukrposhta.com), ["Автолюкс"](http://www.autolux.ua/), ["Интайм"](http://www.intime.ua/), ["Деливери"](http://www.delivery-auto.com/), ["Мост Экспресс"](http://www.meest-express.com.ua/) или любым другим перевозчиком на ваш выбор.

    Доставка товаров от **1000 грн** – *бесплатно* до склада компании перевозчика в вашем городе. Стоимость доставки формируется транспортной компанией исходя из габаритов, веса, а также расстояния до места доставки, согласно тарифам выбранной вами компании.

    Бесплатная доставка крупногабаритного товара оговаривается отдельно.

    Доставка осуществляется в течение *1-3 дней* в зависимости от региона доставки. Срок выполнения доставки может увеличиваться в зависимости от того, в какой день (будний, выходной, праздничный) оформлен заказ
