= render layout: 'static_page', locals: { title: 'Гарантия' } do
  markdown:
    Мы гарантируем вам право обмена или возврата товара в течение **14 дней** после даты получения товара.

    <div class="alert alert-warning">
      <strong>Важно!</strong> Комплектация и характеристики  товара могут изменяться производителем без уведомления. Цвет изделия так же может отличаться от изображения в зависимости от настроек вашего монитора
    </div>

    При этом возможны такие варианты действий:

    - обменять купленный товар на аналогичный, в случае если он не подошел по форме, габаритам, фасону, цвету, размеру или если по другим причинам не может быть использован по назначению;
    - если аналогичный товар отсутствует, покупатель имеет право на приобретение какого-либо другого товара из имеющегося ассортимента с соответствующим перерасчетом стоимости или обменять на аналогичный при поступлении в продажу;
    - получить деньги в размере стоимости возвращаемого товара.

    Обменять товар можно только в том случае, если он не использовался, сохранены его товарный вид, потребительские свойства, пломбы, ярлыки, а также квитанция, выданная вместе с товаром.

    Гарантией на приобретённый у нас товар является расходная накладная.

    Расходы по доставке товаров и денег при возврате или обмене товаров оплачиваются покупателем. В том случае, если обмен и возврат товара был осуществлен по вине администрации интернет-магазина, доставку оплачивает наш интернет-магазин.

    Жители Днепропетровска могут сразу при курьере распаковать товар и проверить все его заявленные характеристики.

    Более подробно с правами и обязанностями покупателя и продавца можно ознакомиться в [Законе Украины "О защите прав потребителей"](http://zakon4.rada.gov.ua/laws/show/1023-12)
