/*
* = require "twitter/bootstrap"
* = require "font-awesome"
* = require "admin/theme"
* = require "select2/select2"
* = require "bootstrap-wysihtml5"
*/

@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

a.fa {
  color: @gray;
  &:hover { text-decoration: none; color: @link-color }
}

a i.fa {
  text-decoration: none;
}

.navbar {
  .form-search {
    margin: 5px 60px 0 0;
  }
}

.bs-docs-sidenav {
  max-width: 300px;
  .dropdown-submenu > a:after {
    border: 0 none;
  }
}

.block .block-content { padding-left: 5px; }

.block-header .muted ul.breadcrumb {
  padding-top: 0;
}

table.sortable {
  width: 940px;
  &.photos-list  {
    width: 600px;
  }
}

.select2-container {
  width: 220px;
}

p.bages {
  span { margin-right: 10px; }
}

.wysihtml5 {
  width: 80%;
  height: 350px;
}

.select2-container.category.category {
  width: 300px;
}

.actions-panel {
  padding: 15px;
  &.affix {
    left: 0;
    top: 40px;
    width: 100%;
    padding-left: 390px;
    background: fadeout(#F5F5F5, 10%);
    a.top {
      position: absolute;
      left: 10px;
      display: block;
      color: @gray-light;
      text-decoration: none;
    }
  }
}

form.simple_form {
  margin-left: 5px;
  input.autogrow {
    .transition(width 0.3s ease);
    &:focus { width: 90%; }
  }
  .input-append {
    input { width: 180px; }
  }
}
