/*
* = require "twitter/bootstrap"
* = require "font-awesome"
* = require "admin/theme"
*/

a[class^="icon-"] {
  color: gray;
  &:hover { text-decoration: none; color: darken(gray, 20%) }
}

.bs-docs-sidenav {
  max-width: 300px;
}

.block .block-content { padding-left: 5px; }