= render layout: 'boxed', locals: {title: 'Синхронизация цен'} do
  => link_to 'Загрузить из прайса', admin_prices_diff_path, class: 'btn'
  /=  link_to 'Выгрузить в прайс', admin_prices_diff_path, class: 'btn'
