= simple_form_for [:admin, @product, @product.images.build], url: [:create_image, :admin, @product] do |f|
  = f.input :asset, label: 'Добавить фото'
  = f.button :submit, 'Загрузить', class: 'btn btn-primary'
