// Common stylesheet

/*
* = require "lib/bootstrap"
* = require "font-awesome"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";
@import "siteheart-skin";
@import "responsive";

.page-content a, a.ease {
  .ease(@link-color);
}

a.thumbnail:hover {
  box-shadow: 0 1px 4px fadeout(@purple, 75%);
  border-color: @purple;
}

a.fa, a.fa:hover, a.fa:active, a.fa:focus { text-decoration: none; }
a:hover i.fa { text-decoration: none; }

.modal {
  overflow-y: auto;
}

.nav-tabs {
  margin-bottom: 15px;
}

.nav.nav-pills .btn {
  margin-bottom: 0;
}

.page-title .text-muted a {
  color: @gray-light;
}

.pink { color: @pink; }
.purple { color: @purpleDark }
.red { color: lighten(@red, 15%); }

.price {
  color: @pinkDark;
  white-space: nowrap;
  &.big { font-size: @font-size-base*2; }
  span.old {
    &.big { font-size: @font-size-base*1.5; }
    text-decoration: line-through;
  }
}

.blueimp-gallery .modal {
  button.next, button.prev {
    .transition(opacity 1s ease-in-out);
    &[disabled] {
      opacity: .3;
    }
  }
}

.row {
  .product .price span.old {
    color: @gray;
    font-weight: bold;
  }
}

.simple_form {
  .radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
}

#main-menu {
  .container { padding-left: 0; }
  li.cart {
    background-color: @pinkLight;
    a { text-shadow: 0 1px 0 @pinkLight; position: relative }
    span.badge { .sup; background: darken(@pinkLight, 25%); }
  }
  li.promo {
    background-color: lighten(@red, 50%);
    a { text-shadow: none; }
  }
}

#site-header {
  background: image-url("layout/bg.png") repeat;
  .contacts {
    .actions {
      text-align: center;
      .social-contact-links(@pink, white);
      a.active {
        i { .box-shadow(0 0 4px 5px @pinkLight); }
        &:hover i { background: @pink; }
      }
      a:active, a:hover, a:focus {
        text-decoration: none;
        outline: none;
      }
      .popover {
        width: 208px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: -10px;
        padding: 0;
        .box-shadow(-5px 7px 10px -3px fadeout(#000, 85%));
        color: @gray;
        text-shadow: 0px 1px 0px @gray-light;
        letter-spacing: normal;
        line-height: 30px;
        text-align: center;
        &.visible { display: block; position: relative; }
        .popover-title { display: none; }
        .popover-content { white-space: nowrap; padding-bottom: 4px; }
        .fa-ul {
          margin-left: 28px;
          .fa-li {
            top: 6px;
            left: -32px;
            color: @gray;
          }
        }
      }
    }
  }
  h1 {
    small {
      color: @pink;
      white-space: nowrap;
    }
  }
  border-bottom: 1px solid @dropdown-divider-bg;
}

h1.page-title {
  font-size: @font-size-base * 2.5;
  margin-bottom: 20px;
}

.form-search {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  input.search-query {
    padding-left: 32px;
    height: 41px;
    font-size: @font-size-base * 1.5;
  }
  i.search {
    position: absolute;
    top: 14px;
    left: 28px;
    font-size: 110%;
    cursor: pointer;
  }
  .example {
    background: fadeout(white, 40%);
    a {
      border-bottom: 1px dashed;
      font-size: 1.1em;
      &:hover, &:active {
        border-bottom: none;
        text-decoration: none;
        outline: none;
      }
    }
  }
  ul.typeahead {
    text-align: left;
    width: 316px;
    h5 {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    li {
      &.active {
        position: relative;
        .image {
          display: block;
          left: -126px;
          top: -25px;
        }
        .price {
          color: white;
        }
      }
      a {
        white-space: normal !important;
      }
      .image {
        display: none;
      }
    }
  }
}

.product {
  h3 {
    font-size: @font-size-base*1.3;
    line-height: @font-size-base*1.4;
    a { color: @purple; }
  }

  p { margin-bottom: 10px; }
  .price {
    .label {
      padding: 0;
      vertical-align: middle;
      background: none;
      font-size: @font-size-base*1.7;
      color: @pinkDark;
      text-shadow: none;
      font-weight: normal;
    }
  }
  .quick-shop {
    margin-left: 5px;
  }
}

a.go-top {
  position: fixed;
  display: none;
  right: 0px;
  bottom: 28px;
  padding: 16px 14px;
  background: fadeout(@gray-light, 70%);
  font-size: 22px;
  font-weight: bold;
  color: @gray-light;
  opacity: .5;
  outline: none;
  &:hover, &:focus {
    text-decoration: none;
    opacity: 1;
  }
}

.footer {
  white-space: nowrap;
  .linear-gradient-top(@yellowLight, fadeout(@yellow, 85%), 0%, fadeout(@yellow, 95%), 100%);
  border-top: 1px solid darken(@yellowLight, 10%);
  .box-shadow(0 -1px 10px fadeout(@brown, 80%));
  text-align: left;
  padding: 25px 0;
  margin-top: 50px;
  color: @gray;
  a {
    color: @brownDark;
  }
  .links {
    padding-left: 0;
  }
  .social {
    .social-contact-links;
  }
}
