// Category page stylesheets

/*
* = require "inner"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";

button.more {
  i {
    color: @gray;
  }
}

#category-content {
  .subnav {
    background: fadeout(@greenLight, 10%);
    box-shadow: 0 2px 10px fadeout(@dropdownDividerTop, 5%);
    width: 100%;
    .nav {
      li {
        >a {
          border-radius: 0;
          margin: 0 5px;
          padding-right: 5px;
          color: @purple;
          i { padding-right: 5px; color: @pink; }
          &:hover {
            background: none;
            i { text-decoration: none; color: @purple; }
          }
        }
      }
    }
    &.affix {
      top:40px; left: 0; margin: 0; z-index: 99; //padding-left: 3px;
      .nav {
        max-width: 1170px; margin: 0 auto; border: none;
      }
    }
  }
  button.more {
    margin: 2px 0 0 8px;
  }
  .products-list {
    .line {
      padding-bottom: 10px;
      margin-bottom: 30px;
    }
    .caption { padding-left: 5px; }
    .show-options {
      .nav-pills {
        .btn.disabled { margin:2px 15px; }
      }
    }
  }

  .product-filters {
    .accordion {
      .box-shadow(1px 1px 3px 0 @dropdownDividerTop);
      background: @yellowLight;
      hr { margin: 0; }
      ul {
        .nav-stacked-simple;
        a { color: @gray; }
        .active, .active a {
          color: @pinkDark;
        }
      }
    }
    .accordion-group { border: none; margin-bottom: 0; }
    .accordion-heading {
      a { color: @purple; font-weight: bold; text-transform: uppercase; font-size: 11px; }
    }
    .accordion-body {
      background: @white;
    }
  }
}
