/*
* = require "inner"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";

.static-page {
  .contacts {
    font-size: @baseFontSize * 1.5;
    p {
      margin-bottom: 20px;
    }
    i {
      color: @grayLight;
      width: 17px;
    }
    .center i, .right i {
      padding-right: 3px;
    }
  }
}
