// Main page stylesheet

/*
* = require "application"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";

#site-header.jumbotron {
  padding: 60px 40px 45px;
  margin-bottom: 14px;
  h1 { font-size: @font-size-base * 3.5; }
  .container {
    margin-top: 10px;
    margin-bottom: -10px;
    .naming {
      margin-top: 7px;
    }
  }
}

.landing-nav.subnav {
  width: 100%;
  font-size: @font-size-base*1.5;
  .nav-pills > li > a {
    line-height: 18px;
  }
  &.affix {
    background: fadeout(lighten(@pinkLight, 10%), 15%);
    box-shadow: 0 2px 10px fadeout(@dropdown-divider-bg, 5%);
    top:50px; left: 0; margin: 0; z-index: 99;
    .nav {
      border: none;
      padding: 5px 0;
      padding-left: 15px;
    }
  }
}

#promotions {
  background: #D5EBEA;
  h4 {
    margin-top: 75px;
  }
  img {
    box-shadow: 2px 0 20px 4px fadeout(#000, 90%);
  }
  .carousel {
    line-height: 1.4;
  }
  .carousel-control {
    top: 45%;
    outline: none;
    font-size: 36px;
    &:hover {
      opacity: .8;
    }
    i {
      padding: 1px 0 0 5px;
      display: block;
    }
    &.left {
      i { padding: 1px 4px 0 0; }
    }
  }
  .carousel-indicators {
    li { cursor: pointer; }
  }
  .image_map {
    position: relative;
    a.map-item {
      position: absolute;
      display: block;
      outline: none;
      top: 0;
      height: 310px;
      width: 200px;
    }
    &.luvion_night_light {
      a.map-item1 { left: 0;  }
      a.map-item2 { left: 200px; }
      a.map-item3 { left: 400px; }
      a.map-item4 { left: 600px; width: 320px; }
    }
  }
  .bebecar {
    h4 {
      font-size: @font-size-base*2;
      line-height: 1.2;
      a {
        text-shadow: 1px 2px 1px white;
      }
    }
  }
}

.landing-container {
  .container {
    margin-bottom: 15px;
  }
  h2 {
    color: @gray;
    text-align: center;
    a {
      color: @gray;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a.see-all {
    font-size: 80%;
    color: @link-color;
    &:hover {
      text-decoration: none;
    }
  }
}

#whole-catalog-items {
  margin-top: 15px;

  .row {
    margin-bottom: 30px;
  }

  h3 {
    position: relative;
    span {
      display: block;
      position: absolute;
      .backgroundTransition(0.5s);
      background: fadeout(@purpleDark, 50%);
      color: white;
      bottom: 5px;
      left: 5px;
      width: 281px;
      line-height: 1.1;
      padding: 7px 0 10px 10px;
      font-weight: normal;
    }
    a:hover span {
      background: fadeout(@purpleDark, 30%);
    }
  }

  .item {
    h3 {
      padding-bottom: 0;
      a {
        color: @pink;
        .transition(color 0.5s);
        &:hover { color: @pinkDark }
      }
    }
    .subitems {
      h4 i { padding-right: 10px; }
      a {
        .transition(color 0.5s);
      }
    }
  }
}
