// Main page stylesheet

/*
* = require "application"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";

#site-header.hero-unit {
  padding: 60px 40px 45px;
  h1 { font-size: @baseFontSize * 3.5; }
  .container {
    margin-top: 10px;
    margin-bottom: -10px;
    .naming {
      margin-top: 7px;
    }
  }
}

#promotions {
  background: @grayLighter;
  h4 {
    margin-top: 75px;
  }
  img {
    box-shadow: 2px 0 20px 4px fadeout(@black, 90%);
  }
  .carousel {
    line-height: 1.4;
  }
}

#catalog-items {
  margin-top: 15px;

  .row {
    margin-bottom: 30px;
  }

  h3 {
    position: relative;
    span {
      display: block;
      position: absolute;
      .backgroundTransition(0.5s);
      background: fadeout(@purpleDark, 50%);
      color: @white;
      bottom: 5px;
      left: 5px;
      width: 281px;
      line-height: 1.1;
      padding: 7px 0 10px 10px;
      font-weight: normal;
    }
    a:hover span {
      background: fadeout(@purpleDark, 30%);
    }
  }
  img {
    width: 291px; // temporary fix while images aren't resized properly
  }

  .item {
    h3 {
      padding-bottom: 0;
      a {
        color: @pink;
        .transition(color 0.5s);
        &:hover { color: @pinkDark }
      }
    }
    .subitems {
      h4 i { padding-right: 10px; }
      a {
        .transition(color 0.5s);
      }
    }
  }
}