// Product page stylesheets

/*
* = require "inner"
* = require "blueimp-gallery/less/blueimp-gallery"
* = require "bootstrap-image-gallery/less/bootstrap-image-gallery"
* = require "owl-carousel/owl.carousel"
* = require "owl-carousel/owl.theme"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";

#product-container {
  .product-back {
    padding: 1px 12px;
  }
  .description {
    .bages {
      margin: 5px 0; font-size: 117%;
      span {
        margin-right: 10px;
        white-space: nowrap;
      }
    }
    hr { margin-top: 5px; }
  }
  .gallery {
    .first-image {
      text-align: center;
      a {
        position: relative;
        display: block;
        outline: none;
        &:hover, &:active, &:focus {
          text-decoration: none;
        }
      }
    }
    .other-images {
      a.thumbnail { display: inline-block; margin: 8px 8px 0 0; }
    }
  }
  .nav-tabs {
    margin-top: 15px;
    li a { color: @blue; }
  }
  .share {
    a {
      vertical-align: middle;
      color: @purple;
      font-size: @font-size-base*1.8;
      margin-left: 10px;
      &:hover { color: lighten(@purple, 20%); }
    }
  }
  .prices {
    margin-right: 15px;
  }
  .shipping {
    a:hover {
      text-decoration: none;
      .text-success {
        color: darken(@green, 15%);
      }
      .text-warning {
        color: darken(@orange, 15%);
      }
    }
  }
  .quick-shop.btn {
    min-width: 100px;
  }
  #product-info-accordion {
    .panel-title {
      i {
        width: 15px;
      }
      a {
        padding-left: 10px;
        outline: none;
      }
    }
    .panel-body {
      ul {
        padding-left: 15px;
      }
      a {
        border-bottom: 1px dashed @link-color;
        &:hover {
          border-bottom: none;
          text-decoration: none;
        }
      }
    }
  }
  .simple-modal {
    .modal-body {
      padding-top: 10px;
    }
    h5 {
      font-weight: bold;
      margin-top: 20px;
    }
  }
  #description {
    .page-content {
      text-align: justify;
    }
  }
  #properties {
    &>p.text-muted {
      margin-top: 10px;
    }
  }
  #productVariants {
    ul.thubmnails {
      margin: 0;
      .row-fluid { margin-bottom: 15px; }
    }
    a.thumbnail {
      border-color: transparent;
      .box-shadow(none);
      &:hover {
        border-color: @purple;
      }
    }
  }
  .related-products {
    margin-top: 20px;
    .panel-body {
      position: relative;
      .carousel-control {
        outline: none;
        opacity: 1;
        width: 11%;
        &:hover {
          opacity: 1;
        }
        i {
          font-size: 90px;
          position: absolute;
          top: 30%;
          z-index: 5;
          display: inline-block;
        }
        &.right {
          background-image: linear-gradient(to left, fadeout(@panel-inner-border, 70%) 0%, fadeout(@panel-inner-border, 100%) 100%);
          &:hover {
            background-image: linear-gradient(to left, fadeout(@panel-inner-border, 50%) 0%, fadeout(@panel-inner-border, 100%) 100%);
          }
          i { right: 13%; }
        }
        &.left {
          &:hover {
            background-image: linear-gradient(to right, fadeout(@panel-inner-border, 50%) 0%, fadeout(@panel-inner-border, 100%) 100%);
          }
          background-image: linear-gradient(to right, fadeout(@panel-inner-border, 70%) 0%, fadeout(@panel-inner-border, 100%) 100%);
          i { left: 13%; }
        }
      }
    }
    .owl-carousel {
      .product {
        padding-right: 15px;
      }
    }
  }
}

#quickShopDialog {
  form { margin: 0; }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
