// Product page stylesheets

/*
* = require "inner"
* = require "bootstrap-image-gallery/css/bootstrap-image-gallery"
*/

@import "lib/variables";
@import "lib/mixins";
@import "lib/prefixer";

#product-container {
  .description {
    .bages {
      margin: 5px 0; font-size: 117%;
      span { margin-right: 10px; }
    }
    hr { margin-top: 5px; }
  }
  .gallery {
    .first-image { text-align: center; }
    .other-images {
      a.thumbnail { display: inline-block; margin: 10px 10px 0 0; }
    }
  }
  .nav-tabs {
    margin-top: 15px;
    li a { color: @blue; }
  }
  .btns {
    text-align: right;
    .to-cart {
      margin-right: 30px;
    }
  }
  .share {
    a {
      vertical-align: middle;
      color: @purple;
      font-size: @baseFontSize*1.8;
      margin-left: 10px;
      &:hover { color: lighten(@purple, 20%); }
    }
  }
  #productVariants {
    ul.thubmnails {
      margin: 0;
      .row-fluid { margin-bottom: 15px; }
    }
    a.thumbnail {
      border-color: transparent;
      .box-shadow(none);
      &:hover {
        border-color: @purple;
      }
    }
  }
}

#modal-gallery {
  .modal-header {
    .close { margin-left: 10px; }
  }
}

#quickShopDialog {
  form { margin: 0; }
}