@import "twitter/bootstrap/variables";

@media (max-width: @screen-md-max) {
  #main-menu {
    position: relative;
    margin-bottom: -40px;
  }
  #site-header {
    .naming {
      text-align: center;
      .logo {
        margin: 0 auto;
      }
    }
  }
  #category-content .subnav.affix {
    position: static;
    top: 0;
    margin-bottom: 20px;
  }
  .landing-nav.subnav.affix {
    position: static;
    top: 0;
    background: transparent !important;
    box-shadow: none !important;
    .nav {
      padding: 0 !important;
    }
  }
  .landing-nav.subnav {
    padding-left: 10px;
  }
  .landing-container {
    padding-left: 10px;
  }
}

@media (max-width: @screen-sm-max) {
  .products-list {
    .show-options .nav {
      &.nav-pills > li {
        float: none;
      }
      &.nav-pills > li, .btn {
        display: block;
        margin-bottom: 10px;
        width: 203px;
      }
    }
    .product {
      margin-top: 20px;
    }
  }
}
@media (max-width: @screen-xs-max) {
  .nav-pills > li {
    float: none;
  }
  #main-menu {
    .navbar-brand, .navbar-collapse {
      padding-left: 30px;
    }
  }

  .row-offcanvas {
    position: relative;
    .transition(all 0.25s ease-out);
  }

  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
  }

  .row-offcanvas-left.active {
    left: 50%;
    .sidebar-offcanvas, .products-list {
      margin-left: @grid-gutter-width;
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}
