// Inner page stylesheets (fluid layout, small page header)

@import "~common/styles/application";

#site-header {
  margin-bottom: 20px;
  padding: 66px 0 10px;
  background-image: url("bg_small.png");
  h1 { font-size: $font-size-base * 2; }
  h1 small { font-size: $font-size-base * 1.5; }
  .contacts .actions {
    padding-top: 8px;
    .popover {
      font-size: 21px;
      &.visible {
        left: 44px;
        top: 40px;
        position: absolute;
      }
    }
  }
}

.form-search {
  ul.typeahead {
    width: 92%;
  }
  input.search-query {
    height: 34px;
    font-size: $font-size-base * 1.3;
  }
  i.search {
    top: 10px;
  }
}

#articles-list {
  h4 {
  }
  img {
    margin-right: 20px;
  }
}

.google-map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.thankyou-message {
  background: url("thankyou-bg.png") no-repeat center;
  width: 80%;
  margin: 0 auto;
  padding: 60px;
  font-size: 130%;
  text-align: center;
  h2 {
    color: $pink;
    font-size: 200%;
  }
}
