javascript:
  (function(){
  // your widget ID
  var widget_id = 460230;
  _shcp =[{widget_id : widget_id, w_type: 'embed', w_selector: '#chat'}];
  // set default language
  var lang =(navigator.language || navigator.systemLanguage
  || navigator.userLanguage ||"en")
  .substr(0,2).toLowerCase();
  // script url
  var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
  var hcc = document.createElement("script");
  hcc.type ="text/javascript";
  hcc.async =true;
  hcc.src =("https:"== document.location.protocol ?"https":"http")
  +"://"+ url;
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hcc, s.nextSibling);
  })();
