| Поделиться:
a.fa.fa-vk target="_blank" href="http://vk.com/share.php?title=#{title}&url=#{url}&image=#{image}" title="Поделиться ВКонтакте"
a.fa.fa-facebook target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=#{url}" title="Поделиться в Фейсбуке"
a.fa.fa-twitter target="_blank" href="http://twitter.com/share?text=#{title}&url=#{url}" title="Твитнуть"
