- title 'Babysmile – Скидки до 20 % | Онлайн - супермаркет детских товаров в Украине ☎ (096) 717-22-55'
= metamagic description: 'Скидки на все товары  - до 20 %  ✓Более 30 000 качественных детских товаров для родителей и малышей ✓Доставка уже завтра ☎ (096) 717-22-55'
= render 'special_products_list', type_title: 'Скидки'
