- title 'Новинки детских товаров от Babysmile | Онлайн - супермаркет товаров для детей в Украине ☎ (096) 717-22-55'
= metamagic description: '30 000 товаров для новорожденных и их родителей ✓Гарантия качества ✓Доставка уже завтра ☎ (096) 717-22-55'
= render 'special_products_list', type_title: 'Новинки', hide_novelties: true
